@use "../../../../styles/base.scss" as styles;

.wrapper {
  appearance: none;
  opacity: 0;

  &[data-visibility="true"] {
    opacity: 1;
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
