@use "../../../../styles/base.scss" as styles;

.wrapper {
  @include styles.breakpoint(max-width, device-tablet) {
    padding: {
      top: styles.to-rem(30);
      bottom: styles.to-rem(30);
    }
  }

  @include styles.breakpoint(min-width, device-tablet) {
    padding: {
      top: styles.to-rem(50);
      bottom: styles.to-rem(50);
    }
  }

  z-index: -2;
}

.socialLink {
  color: styles.$black;
  border: styles.to-rem(1) solid styles.$black;
  transition: color 0.3s ease, border-color 0.3s ease;

  &:hover {
    color: styles.$buddha-gold;
    border: styles.to-rem(1) solid styles.$buddha-gold;

    svg {
      path {
        fill: currentColor;
      }
    }
  }

  svg {
    height: styles.to-rem(21);
  }
}

.copyText {
  background-color: styles.$supernova;
  color: styles.$black;
  font-size: 80%;
  transform: translateY(-50%);
}
