@use "../../../../../styles/base.scss" as styles;

.link {
  @include styles.breakpoint(max-height, device-height-s) {
    padding-top: styles.to-rem(30);
  }

  padding-top: styles.to-rem(50);
}

.item {
  &:hover {
    svg {
      path {
        fill: styles.$supernova;
      }
    }
  }

  svg {
    height: styles.to-rem(21);

    path {
      fill: styles.$black;
      transition: fill 0.3s ease-in-out;
    }
  }
}
