@use "../styles/base.scss" as styles;

$nav-width: styles.to-rem(96);

.container {
  @include styles.breakpoint(max-width, device-desktop) {
    flex-flow: column;
  }

  @include styles.breakpoint(min-width, device-desktop) {
    height: 100vh;
    width: calc(100% - $nav-width);
  }
}

.button {
  &:hover {
    .icon {
      transform: rotate(45deg);
    }
  }

  .icon {
    transition: transform 0.3s ease-in-out;
  }
}
