@use "../../../../styles/base.scss" as styles;

$divider-size: styles.to-rem(8);

.wrapper,
.innerWrapper,
.tags {
  flex-flow: column;
}

.wrapper {
  z-index: -2;
}

.contentWrapper {
  @include styles.breakpoint(max-width, device-mobile) {
    flex-flow: column;
    align-items: flex-start;
  }
}

.title {
  @include styles.breakpoint(max-width, device-desktop) {
    font-size: styles.to-rem(34);
    line-height: styles.to-rem(36);
  }

  @include styles.breakpoint(min-width, device-desktop) {
    font-size: styles.to-rem(45);
    line-height: styles.to-rem(48);
  }
}

.description {
  font-size: styles.to-rem(21);
  line-height: styles.to-rem(28);
}

.description,
.readTimeText {
  font-style: italic;
}

.readTimeText {
  font-size: styles.to-rem(14);
  line-height: styles.to-rem(19);
}

.readTime {
  @include styles.breakpoint(max-width, device-mobile) {
    padding-top: styles.to-rem(10);
  }

  @include styles.breakpoint(min-width, device-mobile) {
    padding-left: styles.to-rem(10);
  }

  &::before {
    @include styles.breakpoint(max-width, device-mobile) {
      content: none;
    }

    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $divider-size;
    height: $divider-size;
    border-radius: 50%;
    background-color: styles.$black;
  }
}

.readTimeText {
  @include styles.breakpoint(min-width, device-mobile) {
    padding-left: styles.to-rem(16);
  }

  svg {
    width: styles.to-rem(24);
    margin-right: styles.to-rem(5);
  }
}

.tagItem {
  background-color: styles.$vermillion;
  color: styles.$white;
  margin-right: styles.to-rem(16);

  &:last-child {
    margin-right: 0;
  }
}
