@use "../../../styles/base.scss" as styles;

$nav-width: styles.to-rem(96);
$mobile-banner-height: styles.to-rem(300);

.banner {
  @include styles.breakpoint(min-width, device-desktop) {
    height: 100%;
    position: fixed;
    right: 0;
    width: calc(50% - $nav-width / 2);
  }

  img {
    &[data-desktop="false"] {
      @include styles.breakpoint(max-width, device-desktop) {
        display: block;
      }

      @include styles.breakpoint(min-width, device-desktop) {
        display: none;
      }
    }

    &[data-desktop="true"] {
      @include styles.breakpoint(max-width, device-desktop) {
        display: none;
      }

      @include styles.breakpoint(min-width, device-desktop) {
        display: block;
      }
    }

    @include styles.breakpoint(max-width, device-desktop) {
      max-height: $mobile-banner-height;
    }
  }
}
