@use "../../../styles/base.scss" as styles;

$mobile-banner-height: styles.to-rem(300);

.wrapper {
  height: $mobile-banner-height;
  z-index: -1;
}

.progressBar {
  height: styles.to-rem(5);
  background-color: styles.$vermillion;
  transform-origin: 0%;
  z-index: -1;
}
