@use "../../../../styles/base.scss" as styles;

$logo-size-desktop: styles.to-rem(96);
$logo-size-mobile: styles.to-rem(45);

.header {
  @include styles.breakpoint(max-width, device-mobile) {
    background-image: linear-gradient(styles.$transparent 0%, styles.$transparent $logo-size-mobile, styles.$buddha-gold $logo-size-mobile);
    width: $logo-size-mobile;
  }

  @include styles.breakpoint(min-width, device-mobile) {
    background-image: linear-gradient(styles.$transparent 0%, styles.$transparent $logo-size-desktop, styles.$buddha-gold $logo-size-desktop);
    width: $logo-size-desktop;
  }
}
